<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.featurepack">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SocialMedia"></activity>
        <activity android:name=".MagicalPlayer" />
        <activity android:name=".FifthQuiz" />
        <activity android:name=".ForthQuiz" />
        <activity android:name=".ThirdQuiz" />
        <activity android:name=".SecondQuiz" />
        <activity android:name=".Quiz" />
        <activity android:name=".Messege" />
        <activity android:name=".Calculator" />
        <activity android:name=".Camera" />
        <activity android:name=".VideoPlayer" />
        <activity android:name=".musicPlayer" />
        <activity android:name=".SpecialDashboard" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>